# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Compiled extensions
*.so

# =========================
# Virtual Environment
# =========================
venv/
.venv/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Cache
# =========================
.cache/
.cache
.pytest_cache/
.mypy_cache/

# =========================
# Spotify / OAuth Cache
# =========================
.spotify_cache
.cache-handler

# =========================
# Whisper / AI Models
# =========================
models/
*.pt

# =========================
# Audio Files
# =========================
temp/
*.wav
*.mp3
*.ogg

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
.aider*